body{
    margin:0px;
}
#container{
    display:grid;
    height: 100vh;
    width: 100vw;
    grid-template-rows: 2fr 22fr 2fr;
    grid-template-areas: "t"
                         "g"
                         "b";
}

#status-bar{
    grid-area: b;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "f s l"
}

 #timer{
    grid-area: t;
    display: grid;
    background-color:#478978;
    align-content: center;
    justify-content: center;
    font-family: 'Underdog', cursive;
    font-size: 30px;
}

#game{
    grid-area: g;
    background-color: #84DCC6;
    display: grid;
    align-content: center;
    justify-content: center;
    
}

.status{
    align-content: center;
    justify-content: center;
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    box-shadow: 5px 10px 8px #888888;
}

#frog-counter{
    grid-area: f;
    display: grid;
    background-color: #D6EDFF;
    
}

#start{
    grid-area: s;
    display: grid;
    background-color: #ED4D6E;
    /*ACD7EC after pressing*/
    align-content: center;
    justify-content: center;
    font-family: 'Indie Flower', cursive;
    margin: 3px;
    font-size: 30px;
    color: white;
    border-radius: 5px;
    box-shadow: 5px 10px 8px #888888;
}

#level{
    grid-area:l;
    display: grid;
    background-color: #8B95C9;
}


#welcome-container{
    align-self: center;
    justify-self: center;
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr 4fr;
    justify-content: center;
    height: 500px;
    width: 400px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #009432;
    
} 

i{
    position:absolute;
}

#welcome{
    font-size: 25px;
    align-self: center;
    font-family: 'Underdog', cursive;
}

#frog-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

#start-frog{
    font-size: 100px;
    color: #2ed573;
    animation: ;   
}